.user {
    font-weight: 500;
    font-size: 24px;
}

.userbox {
    display: flex;
    gap: 24px;
    align-items: center;
}

.logout {
    font-size: 16px;
    padding: 8px;
    width: 120px;
    border: 2px solid #bb7364;
    border-radius: 4px;
    background-color: #ffc8bd;
    transition: border 300ms ease-in-out, background-color 300ms ease-in-out,
        font-weight 300ms ease-in-out;
}

.logout:hover,
.logout:focus {
    border: 2px solid #854234;
    background-color: #ffe8e3;
    font-weight: 600;
}